<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center align-items-center">
    <div class="componente">
      <div class="form border border-white bg-white p-3 w-100">
        <div class="d-flex justify-content-center align-items-center">
            <div class="componente">
              <div class="form border border-white bg-white p-3 w-100">
                <div class="pb-1">
                  <h1>Histórico de Pedidos</h1>
                  
                </div>
               </div>
            </div>
          </div>
      </div>
    </div>
  </div>
