<app-nav-bar></app-nav-bar>

<div class="body d-flex justify-content-around m-2">
  <div class="carrinho-componente">
    <div class="carrinho">
      <h1 class="d-flex justify-content-center">Carrinho</h1>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="botao btn btn-warning w-50">Pedido</button>
    </div>
  </div>

  <div class="opcao-componente">
    <div class="opcao">
      <h1 class="d-flex justify-content-center">Opções do dia</h1>
    </div>
    <div class="d-flex justify-content-center">
      <button *ngIf="perfil_administrador" type="button" class="botao btn btn-warning w-50">Adicionar Opção</button>
    </div>
  </div>
</div>
