.img {
  max-width: 5rem;
  height: auto;

}

nav {
  color: black;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
}

li {
  margin-left: 2rem;
  font-size: x-large;
}

img {
  max-width: 100%;
}
