h1 {
  font-family: "Satisfy", "Brush Script MT", "Lucida Handwriting", cursive;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

h3 {
  display: flex;
  justify-content: center;
  color: darkgray;
}

input:hover {
  border-color: #F77F00;
}
input:focus {
  border-color: #F77F00;
}

.borda {
  border-radius: 25px;
}

.img {
  display: flex;
  justify-content: center;
}

.img img {
  width: 10rem;
}
